<div class="container">
    <div class="row">
        <div class="col">
            <h1>Book Manager</h1>
        </div>
        <div class="col">
            <button class="btn btn-danger btn-lg" routerLink="/form">Go to Create</button>
        </div>
    </div>

    <br />
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>

                <th colspan="2" class="delete_btn" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookData; " id="tr-{{book.id}}">
                <th scope="row"> {{ book.id }}</th>
                <td><span style="  text-decoration-line: underline;cursor: zoom-in;" title="See more info!" (click)="getOneData(book.id)" (click)="triggerModal(modalInfo)">{{ book.bookName }}</span></td>
                <td>{{ book.author }}</td>

                <td class="delete_btn">
                    <button class="btn btn-secondary" (click)="deletePhoneData(book)">
            Delete
          </button>
                </td>
                <td><button class="btn btn-dark" (click)="triggerModal(modalData)" (click)="getOneData(book.id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
    <!-- Bootsrap Models -->


    <ng-template #modalData let-modal>
        <form [formGroup]='form' (ngSubmit)='submit()' *ngIf="form">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit book data</h4>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="bookName" class="col-form-label ">Book Name:</label>
                        <input type="text" class="col form-control" formControlName="bookName">
                        <span class="text-danger" *ngIf='form?.controls?.bookName?.dirty && form?.controls?.bookName?.errors'>
                            {{ form?.controls?.bookName?.errors?.required ? 'This field is required' : 'Must less or equals than 20' }}
                          </span>
                    </div>
                    <div class="col">
                        <label for="author" class="col-form-label ">Author:</label>
                        <input type="text" formControlName="author" class=" col form-control">
                        <span class="text-danger" *ngIf='form?.controls?.author?.dirty && form?.controls?.author?.errors'>
                            {{ form?.controls?.author?.errors?.required ? 'This field is required' : 'Must less or equals than 30' }}
                          </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="describe" class="col-form-label">Describe:</label>
                    <textarea cols="30" rows="5" formControlName="describe" class=" col form-control"></textarea>

                    <span class="text-danger" *ngIf='form?.controls?.describe?.dirty && form?.controls?.describe?.errors'>
                            {{ form?.controls?.describe?.errors?.required ? 'This field is required' : 'Must less or equals than 200' }}
                          </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModel" class="btn btn-danger" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </ng-template>
    <!-- Form see more info -->
    <ng-template #modalInfo let-modal>
        <form [formGroup]='form' (ngSubmit)='submit()' *ngIf="form">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">See information book</h4>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="bookName" class="col-form-label ">Book Name:</label>
                        <input [readonly]=true type="text" class="col form-control" formControlName="bookName">
                        <span class="text-danger" *ngIf='form?.controls?.bookName?.dirty && form?.controls?.bookName?.errors'>
                            {{ form?.controls?.bookName?.errors?.required ? 'This field is required' : 'Must less or equals than 20' }}
                          </span>
                    </div>
                    <div class="col">
                        <label for="author" class="col-form-label ">Author:</label>
                        <input [readonly]=true type="text" formControlName="author" class=" col form-control">
                        <span class="text-danger" *ngIf='form?.controls?.author?.dirty && form?.controls?.author?.errors'>
                            {{ form?.controls?.author?.errors?.required ? 'This field is required' : 'Must less or equals than 30' }}
                          </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="describe" class="col-form-label">Describe:</label>
                    <textarea [readonly]=true cols="30" rows="5" formControlName="describe" class=" col form-control"></textarea>

                    <span class="text-danger" *ngIf='form?.controls?.describe?.dirty && form?.controls?.describe?.errors'>
                            {{ form?.controls?.describe?.errors?.required ? 'This field is required' : 'Must less or equals than 400' }}
                          </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModel" class="btn btn-danger" (click)="modal.close()">Close</button>

            </div>
        </form>
    </ng-template>
</div>