<div class="container">
    <h1>Phone Manager</h1>
    <br />
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Phone Name</th>
                <th scope="col">Price</th>
                <th scope="col">Catagory</th>
                <th colspan="2" class="delete_btn" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let phone of phoneData; " id="tr-{{phone.id}}">
                <th scope="row">{{ phone.id }}</th>
                <td>{{ phone.name }}</td>
                <td>{{ phone.price | currency }}</td>
                <td>{{ phone.category.name }}</td>
                <td class="delete_btn">
                    <button class="btn btn-secondary" (click)="deletePhoneData(phone)">
            Delete
          </button>
                </td>
                <td><button class="btn btn-dark" (click)="triggerModal(modalData)" (click)="getOneData(phone.id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
    <!-- Bootsrap Models -->


    <ng-template #modalData let-modal>
        <form [formGroup]='form' (ngSubmit)='submit()' *ngIf="form">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit phone data</h4>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="phoneName" class="col-form-label ">Phone Name:</label>
                        <input type="text" class="col form-control" formControlName="phoneName" value="{{phoneName}}">
                        <span class="text-danger" *ngIf='form?.controls?.phoneName?.dirty && form?.controls?.phoneName?.errors'>
                            {{ form?.controls?.phoneName?.errors?.required ? 'This field is required' : 'Must less or equals than 20' }}
                          </span>
                    </div>
                    <div class="col">
                        <label for="price" class="col-form-label ">Price:</label>
                        <input type="number" formControlName="price" class=" col form-control" value="{{price}}">
                        <span class="text-danger" *ngIf='form?.controls?.price?.dirty && form?.controls?.price?.errors'>
                            {{ form?.controls?.price?.errors?.required ? 'This field is required' : 'Must be more than 1' }}
                          </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="col-form-label">Message:</label>
                    <select class="form-select" name="category" formControlName="category" id="category" value="{{category}}">                       
                        <option value="Apple">Apple</option>
                        <option value="Samsung">Samsung</option>
                        <option value="China">China</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="closeModel" class="btn btn-danger" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </ng-template>
</div>