/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr.css';
.from_reactive {
    font-size: 20px;
}

.text-danger {
    font-style: italic;
    font-weight: 500;
    line-height: 10px;
}